#graph-container {
      position: absolute;
      left: 380px;
      top: 120px;
      right: 480px;
      bottom: 70px;
      overflow: hidden;
      border: 1px solid #000000;  
      background-color: #ffffff; 
      border-radius: 10px;
      box-shadow: 2px 0 5px rgba(0,0,0,0.1);
      z-index: 5;
    }
    
    #lines {
      position: absolute;
      top: 140px;
      width: 20px;
      min-width: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background: transparent;
      z-index: 10;
      margin-left: 648px;
      pointer-events: none;
    }

    .line {
      width: 555px;
      height: 2px;
      background: #999999;
      margin-bottom: 23px;
      opacity: 0.15;
    } 

    #linesV {
      position: absolute;
      top: 121px;
      left: 380px;
      height: 506px; 
      width: 555px; 
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      pointer-events: none; 
      z-index: 20; 
    }

    .lineV {
      width: 2px;
      height: 555px;
      background: #999999;
      margin-left: 23px;
      opacity: 0.15;
    } 

    #spirals {
      position: absolute;
      top: 140px;
      width: 20px;
      min-width: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background: transparent;
      z-index: 2000;
      margin-left: 368px;
    }

    .spiral {
      width: 66px;
      height: 10px;
      background: #7a7a7a;
      border: none;
      border-radius: 50% 50% 0 0;
      margin-bottom: 32px;
      transform: rotate(-4deg);
    } 

    #backSpirals {
      position: absolute;
      top: 150px;
      width: 15px;
      min-width: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background: transparent;
      z-index: 1;
      margin-left: 355px;
    }

    .backSpiral {
      width: 42px;
      height: 10px;
      background: #494949;
      border: none;
      border-radius: 0 0 50% 50%;
      margin-bottom: 32px;
      box-shadow: none;
      transform: rotate(+15deg);
    } 
    
    #spiralsDots {
      position: absolute;
      top: 137px;
      width: 20px;
      min-width: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background: transparent;
      z-index: 1500;
      margin-left: 400px;
    }

    .spiralDot {
      width: 18px;
      height: 18px;
      background: #444444;
      border: none;
      border-radius: 50%;
      margin-bottom: 24px;
    } 